*{
    margin: 0;
    padding: 0;
}

.home-container{
    height: 85vh;
    background-image: url('/home/amma/Desktop/JS_Assignments/React/ReactRouterDom/react-router-demo/src/components/Home/cover-v3.jpeg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    object-fit: contain;
    background-position: contain;
    padding-top: 30px;
    text-align: center;
}

h1{
    font-family: "sans-serif";
    color: aliceblue;
    padding: 20px;
}

h2{
    font-family: "sans-serif";
    color: aliceblue;
    padding: 15px;
}

h3{
    font-family: "sans-serif";
    color: aliceblue;
    padding: 10px;
}