.about-bg-container{
    /* background-color: lightgrey; */
    height: 85vh;
    width: 100%;
    display: flex;
    
}



.info-container{
    width: 50%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    box-shadow: 0 4px 16px rgba(255, 255, 255, 0.664);
    box-sizing: border-box;
    text-align: start;
    line-height: 1.5rem;
}

.about{
    color: black;
}

.img-container{
    width: 50%;
    background-color: lightgrey;
    /* padding: 50px; */
    box-shadow: 0 4px 16px white;
    box-sizing: border-box;
    text-align: center;
}

.profile-img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    /* border-radius: 60px; */
}

@media (max-width: 576px){
    .about-bg-container{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .info-container{
        /* width: 50%;
        /* height: 50%; */
        /* display: flex;
        flex-direction: column;
        align-items: flex-start; */
        /* padding: 50px; */
        /* box-shadow: 0 4px 16px rgba(255, 255, 255, 0.664);
        box-sizing: border-box;
        text-align: start; */ 
        margin-bottom: 20px;
        padding: 0;
    }


}