
.contact-bg-container{
    display: flex;
    height: 85vh;
    padding: 30px;
    box-sizing: border-box;
}

.map-container{
    width: 50%;
    border: 2px solid red;
    box-sizing: border-box;
}

.form-container{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

@media (max-width:768px){
    .contact-bg-container{
        flex-direction: column;
        align-items: center;
    }
    .form-container{
        margin-top: 3rem;
    }
}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    margin-bottom: 5px;
    margin-top: 5px;
}

.button{
    color: white;
    background-color: blue;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    font-weight: 600;
    border:none;
    margin-top: 10px;
    cursor: pointer;
}

.error{
    color: red;
    font-size: 10px;
}

.success{
    color: green;
    font-size: 10px;
}